
@import './components/nav_bar.css';
@import './components/footer.css';
@import './components/welcome.css';
@import './components/about.css';
@import './components/portfolio.css';


body {
  font-family: 'Raleway';
  text-align: center;
  background-image: url("./images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500vh;
  margin: 0;
  padding: 0;
}

h1, h2, p, a {
  margin: 0;
  padding: 0  ;
}

h1 {
  font-size: 48px;
}

h2 {

  font-size: 24px;
}

p {
  font-family: 'Lato';
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-weight:bolder;
}

a:hover{
  color: #6d7275;
}

@media (max-width: 1600px){

  body {
    height: 700vh;
  }

}

@media (max-width: 980px){

  body {
    background-image: none;
    background-color: rgba(0,0,0,0.9);
    height: 700vh;
  }

}


