.about {
  margin-top: 30vh;
}

.about img {
  width: 70px;
}

.about a {
  font-size: 20px;
}

.skills {
  margin-top: 60px;
  text-align: center;
}

#about-link {
  margin-top: 20px;
  color: black;
}



@media (max-width: 980px) {
  .about a {
  font-size: 16px;
  }

  .about p, .about h3 {
    font-size: 18px;
  }

}

@media (max-width: 600px){
  .about a, {
  font-size: 14px;
  }

  .about h3 {
    font-size: 18px;
  }
}

