footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-elements {
  width: 45%;
  display: flex;
  color: white;
  list-style: none;
  justify-content: space-between;
  padding: 5px 0px;
  font-size: 18px;
}


@media (max-width: 980px) {
  /* For a screen < 720px, this CSS will be read */
  .footer-elements {
    width: 70%;
  }
}


@media (max-width: 600px){
  .footer-elements {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .footer-elements li {
    font-size: 14px;
    padding: 10px;
  }
}
