.nav-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  top: 0px;
}

/*.icons .active {
  border-bottom: 3px solid white;
  padding: 17px;
  border-radius: 3px;
}*/


.icons {
  width: 45%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}


.icons li {
  font-size: 20px;
}


@media (max-width: 980px) {
  /* For a screen < 720px, this CSS will be read */
  .icons {
    width: 70%;
  }
}


@media (max-width: 600px){
  .icons {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .icons .active {
    padding: 10px;
  }
  .icons li {
    font-size: 14px;
    padding: 10px;
  }
}



