.portfolio {
  margin-top: 25vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  text-align: center;
  margin-top: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.card img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}

.card a {
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card p, .card h2 {
  margin: 0;
}

.card p {
  font-size: 16px;
  font-style: italic;
}

.lewagon {
  margin-top: 50px;
}

@media (max-width: 1600px){
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .portfolio h3 {
    font-size: 16px;
  }

}

@media (max-width: 980px){
<<<<<<< HEAD
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

=======

  .cards {
    grid-template-columns: 1fr;
  }


>>>>>>> 9a642f889b741716e7ec81fa3796af52b314c031
  .card h3 {
    font-size: 14px;
  }

  .portfolio h3 {
    font-size: 16px;
  }

<<<<<<< HEAD
=======
  .card {
    grid-gap: 0;
    margin-top: 20px;
  }

>>>>>>> 9a642f889b741716e7ec81fa3796af52b314c031
}
